# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="mysql://johndoe:randompassword@localhost:5432/mydb?schema=public"
PORT = 3000

AT_SECRET = token

AT_EXPIRESIN = "15m"


RT_SECRET = token
RT_EXPIRESIN = "30m"
RT_EXPIRE_INT = 30
RT_EXPIRE_TIME = "minutes"
EMAIL_USER = email
EMAIL_PASS = emailToken

EMAIL_PASS_TOKEN = token

DELETE_ACCOUNT_TOKEN = token